@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.tab-active {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
}

.custom-table th,
td {
  @apply border border-neutral/10 text-center px-1 py-3;
}

.custom-table th {
  @apply text-xs;
}

/*custom scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-neutral/30;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral/40;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.breadcrumbs::-webkit-scrollbar {
  @apply hidden;
}
